<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vueling.DataAcces.Dao.Properties.Settings.cn" connectionString="Data Source=AM-BCN-POR-335;Initial Catalog=VuelingDB;User ID=sa;Password=Pa$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>