<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt" />
    <appendToFile value="true" />
    <bufferSize value="20" />
    <LockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
     <layout type="log4net.Layout.PatternLayout">
       <conversionPattern value="%newline%date [%username] - %message" />
    </layout>
  </appender>

  <!-- Specify the level for some specific categories -->
  <logger name="MySRGApplicationDebugLog">
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
  </logger>
</log4net>