<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="tracer" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\pere.zamora\Documents\log4net.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>